h3{
    cursor: default;
}
.calnder {
    display: none;
    width:100%;
    height: 100%;
    border: solid 4px white;
    background: rgb(41, 173, 190);;
    position: absolute;
    top: 0;
    right: 0;
}

.x{
    position: absolute;
    top: 20px;
    right: 34px;
}

.auto{
    position: absolute;
    color: rgb(41, 173, 190);
    top: 40px;
    left: 64px;
}
.auto:hover, 
.x:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
}

.calnder table {
    width: 350px;
    height: 250px;
}

.calnder td{
   width: 30px;
   padding-left: 16px;
   padding-right: 16px;
}

.month-container {
    display: none;
    vertical-align: top;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 8px;
    background: #fafcff;
    box-shadow: 0 2px 8px #eee;
}


.calendar-table {
    border-collapse: collapse;
    width: 220px;
    margin: 0 auto;
}
.calendar-table th, .calendar-table td {
    border: 1px solid #ddd;
    width: 28px;
    height: 28px;
    text-align: center;
    font-size: 15px;
}
.today {
    font-weight: bold;
    color: #29adbe;
    background: #fff !important;
}

.weekPayed{
    border: 2px solid #29adbe;
    font-weight: bold;
    color: #29adbe;
    background: lightgreen !important;
    box-sizing: border-box;
}

.notPayed{
      border: 2px solid #29adbe;
    font-weight: bold;
    color: #29adbe;
    background: lightcoral !important;
    box-sizing: border-box;
}

    
.left-arrow, .right-arrow {
  transition: transform 0.2s;
  display: inline-block;
  cursor:pointer;
  color:rgb(41, 173, 190);
}

.left-arrow:hover, .right-arrow:hover {
  transform: scale(1.2);
}