  :root{
    --backroundBlue : rgb(41, 173, 190);
    --mainWhite : white;
  }

*{
    font-family: Indie Flower;
    color: var(--mainWhite);
    text-align: center;
}

svg:hover{
    transform: scale(1.1);
}

body{
    background-color: var(--backroundBlue);
}

h1{
    padding-top: 30px;
    font-size: 30px;
   font-weight: 500;
}

.settings{
   position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
}

.settings svg{
    fill: var(--mainWhite);
}

.payCheck svg, circle{
    fill: var(--mainWhite);
}

.payCheck{
    position: absolute;
    right: 60px;
    top: 18px;
    cursor: pointer;
}

.settings:hover, .payCheck:hover{
      transform: scale(1.1);
    }
h3{
    padding: 10px;
}

a:hover{
    color: bisque;
}

.box{
   border: solid 4px var(--mainWhite);
   width: 53%;
   margin-left: 50%;
   transform: translate(-50%);
   margin-top: 10%;
}

.amount{
    display: inline;
}

.optContainer{
    padding: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.options{
    border: dotted 3px var(--mainWhite)
}

.options:hover{
   cursor: pointer;
   border: solid;

}


.addMaaser{
    display: none;
    background: var(--backroundBlue);
    width: 600px;

    position: absolute;
    top: 270px;
    left: 50%;
    transform: translate(-50%);
    
}

.addMaaser div{
    padding: 20px;
}

.dateDisplay{
    padding: 0px !important;
    display: none;
}

.addMaaser input, .addMaaser select{
    background: var(--backroundBlue);
    border: solid 2px var(--mainWhite);

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.input[type=submit]{
    padding: 15px;
}

.closeAdd{
    position: absolute;
    right: 100px;
    top: -15px;
    cursor: pointer;
}

svg.closeAdd{
    fill: var(--mainWhite);
}

footer{
    position: relative;
}

footer img{
    position: absolute;
    margin-top: 50px;
    width: 400px;
    right: 150px;
}

.payMaaser{
    display:  none;
    background: var(--backroundBlue);
    color: rgb(27, 0, 0);
    width: 600px;

    position: absolute;
    top: 270px;
    left: 50%;
    transform: translate(-50%);
}

.paybox{
    
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-self: center;
}

.payMaaser div{
    padding: 20px;
}

.payMaaser input{
    background: var(--backroundBlue);
    border: solid 2px var(--mainWhite);

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.closePayMaaser{
    position: absolute;
    right: 100px;
    top: -15px;
    cursor: pointer;
}

svg.closePayMaaser{
    fill: var(--mainWhite);
}

table{
    color: var(--mainWhite);
    width: 100%;
}

.historyBox{
    display: none;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(41, 173, 190);;
    height: 300px;
    width: 700px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid white;
    color: white;
}

th{
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    color: rgb(41, 173, 190);;
    font-size: 30px;
}

 td{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    color: white;
}

td:last-child{
    font-size: 15px;
}

th:last-child{
    font-size: 25px;
}

tr:nth-child(odd){
    background-color: rgb(41, 173, 190);;
}

tr:nth-child(even){
 background-color: rgb(138, 194, 201);;
}

.historyHeader {
  position: sticky;
  top: 0;
  background: var(--backroundBlue);
  z-index: 10;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 0 8px 8px;
}

.closeHistory{
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.printOUT{
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 19px;
    cursor: pointer;
}

.download{
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 38px;
    cursor: pointer;
}

.total{
    display: none;
    font-size: 40px;
    text-align: center;
}

@media (max-width: 500px){

    h1{
       font-size: 20px;
       font-weight: 400px;
    }

    h3{
    padding: 3px;
    font-size: 13px;
    }

    .box{
        width: 90%;
        border: none;
        margin-top: 0px;
    }

    .settings{
    top:4px !important;
    right: 2px !important;
    transform: scale(0.6);
    }

    .payCheck{
       top: 2px !important;
       right: 22px !important;
       transform: scale(0.6);
    }

    .optContainer{
        padding: 22px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
   }

   .addMaaser{
    width: 100%;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    
   }

   .closeAdd{
    right: 10px;
   }

   .dateDisplay{
    padding-bottom: 10px !important;
   }

   .payMaaser{
    width: 100%;
    height: 200px;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    }

    .closePayMaaser{
    right: 10px;
    }  
    
    .historyBox{
    top: 100px;
    height: 300px;
    width: 90%;
    }

    th{
    font-size: 10px;
    }

    td{
        padding-left: 10px;
        padding-right: 10px;
        
    }

    td{
        font-size: 10px;
    }

    td:last-child{
        font-size: 10px;
        text-align: start;
    }

    th:last-child{
        font-size: 15px;
        text-align: start;
    }

    .closeHistory{
    transform: scale(0.8);
    }  

    .printOUT{
        transform: scale(0.8);
    }

    .download{
       transform: scale(0.8);
    }
}



